{
  "swagger" : "2.0",
  "info" : {
    "description" : "Retrieve Account Info. Create and Update Users.",
    "version" : "3.1.1-SNAPSHOT",
    "title" : "Account and Users"
  },
  "host" : "api.im.actiandatacloud.com/v2",
  "tags" : [ {
    "name" : "Account"
  }, {
    "name" : "Account Files"
  }, {
    "name" : "Account Macros"
  }, {
    "name" : "User"
  }, {
    "name" : "User Files"
  }, {
    "name" : "User Macros"
  }, {
    "name" : "User Preferences"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/account" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Retrieve Account Info",
        "description" : "",
        "operationId" : "getAccount",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/AccountResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/account/{id}/files" : {
      "get" : {
        "tags" : [ "Account Files" ],
        "summary" : "List Public Files in this Account",
        "description" : "",
        "operationId" : "listAccountFiles",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "searchKey",
          "in" : "query",
          "description" : "Search key for file name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (file name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/FileListResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "post" : {
        "tags" : [ "Account Files" ],
        "summary" : "Create a Public File",
        "description" : "",
        "operationId" : "createAccountFile",
        "consumes" : [ "application/octet-stream" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FileResponse"
            }
          }
        }
      }
    },
    "/account/{id}/files/entrypoints/{key}" : {
      "get" : {
        "tags" : [ "Account Files" ],
        "summary" : "Retrieve EntryPoints for a Public Package File",
        "description" : "",
        "operationId" : "listAccountFileEntryPoints",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EntryPoints"
            }
          }
        }
      }
    },
    "/account/{id}/files/{key}" : {
      "get" : {
        "tags" : [ "Account Files" ],
        "summary" : "Download a Public File",
        "description" : "",
        "operationId" : "getAccountFile",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      },
      "put" : {
        "tags" : [ "Account Files" ],
        "summary" : "Update a Public File",
        "description" : "",
        "operationId" : "updateAccountFile",
        "consumes" : [ "application/octet-stream" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FileResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Account Files" ],
        "summary" : "Delete a Public File",
        "description" : "",
        "operationId" : "deleteAccountFile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/account/{id}/logins" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get Recent Account Login Attempt History",
        "description" : "",
        "operationId" : "getAccountLoginHistory",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (set to failed to see all failed attempts)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "schema" : {
              "$ref" : "#/definitions/LoginAttemptListResponse"
            }
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/account/{id}/macrodef" : {
      "post" : {
        "tags" : [ "Account Macros" ],
        "summary" : "Import MacroDef file to Public Macros",
        "description" : "",
        "operationId" : "importAccountMacroDef",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (macro name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "201" : {
            "description" : "created"
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "500" : {
            "description" : "server exception"
          }
        }
      }
    },
    "/account/{id}/macros" : {
      "get" : {
        "tags" : [ "Account Macros" ],
        "summary" : "List Public Macros in this Account",
        "description" : "",
        "operationId" : "listAccountMacros",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (macro name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/MacroListResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "post" : {
        "tags" : [ "Account Macros" ],
        "summary" : "Create a Public Macro",
        "description" : "",
        "operationId" : "createAccountMacro",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "MacroRequest object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MacroRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "201" : {
            "description" : "created"
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          },
          "409" : {
            "description" : "conflict"
          }
        }
      }
    },
    "/account/{id}/macros/{name}" : {
      "get" : {
        "tags" : [ "Account Macros" ],
        "summary" : "Retrieve a Public Macro",
        "description" : "",
        "operationId" : "getAccountMacro",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the macro to retrieve.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "put" : {
        "tags" : [ "Account Macros" ],
        "summary" : "Update a Public Macro",
        "description" : "",
        "operationId" : "updateAccountMacro",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the macro to update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "MacroRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MacroRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "Account Macros" ],
        "summary" : "Delete a Public Macro",
        "description" : "",
        "operationId" : "deleteAccountMacro",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Account Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the macro to delete.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/user" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Retrieve User Info",
        "description" : "",
        "operationId" : "getCurrentUser",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "List Users in this Account",
        "description" : "",
        "operationId" : "listUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "active",
          "in" : "query",
          "description" : "Boolean to determine if Active or Inactive users should be returned.",
          "required" : false,
          "type" : "string",
          "default" : "all"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (user name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserListResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      },
      "post" : {
        "tags" : [ "User" ],
        "summary" : "Create a User",
        "description" : "",
        "operationId" : "createUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "JSON to create a user.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserResponse"
            }
          },
          "201" : {
            "description" : "created"
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/users/externalid/{id}" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Retrieve User Info by External Id",
        "description" : "",
        "operationId" : "getUserByExternalId",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ExternalId of the User to retrieve",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/users/metrics" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Retrieve User Metrics",
        "description" : "",
        "operationId" : "getUserMetrics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "duration",
          "in" : "query",
          "description" : "Time duration from which to query.  Use the format 30d15h25min.  Can be any combination of those parameters.",
          "required" : false,
          "type" : "string",
          "default" : "30d"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (access policy name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserMetricsListResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/users/{id}" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Retrieve User Info",
        "description" : "",
        "operationId" : "getUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "put" : {
        "tags" : [ "User" ],
        "summary" : "Update User Info",
        "description" : "",
        "operationId" : "updateUser",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "UserRequest object",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/users/{id}/files" : {
      "get" : {
        "tags" : [ "User Files" ],
        "summary" : "List Private Files for this User",
        "description" : "",
        "operationId" : "listUserFiles",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "searchKey",
          "in" : "query",
          "description" : "Search key for file name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (access policy name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/FileListResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "post" : {
        "tags" : [ "User Files" ],
        "summary" : "Create a Private File",
        "description" : "",
        "operationId" : "createUserFile",
        "consumes" : [ "application/octet-stream" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FileResponse"
            }
          }
        }
      }
    },
    "/users/{id}/files/entrypoints/{key}" : {
      "get" : {
        "tags" : [ "User Files" ],
        "summary" : "Retrieve EntryPoints for a Private Package File",
        "description" : "",
        "operationId" : "listUserFileEntryPoints",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EntryPoints"
            }
          }
        }
      }
    },
    "/users/{id}/files/{key}" : {
      "get" : {
        "tags" : [ "User Files" ],
        "summary" : "Download a Private File",
        "description" : "",
        "operationId" : "getUserFile",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      },
      "put" : {
        "tags" : [ "User Files" ],
        "summary" : "Update a Private File",
        "description" : "",
        "operationId" : "updateUserFile",
        "consumes" : [ "application/octet-stream" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FileResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "User Files" ],
        "summary" : "Delete a Private File",
        "description" : "",
        "operationId" : "deleteUserFile",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "key",
          "in" : "path",
          "description" : "file name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/users/{id}/logins" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Get User Login History",
        "description" : "",
        "operationId" : "listUserLoginHistory",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (set to failed to see all failed attempts)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ok",
            "schema" : {
              "$ref" : "#/definitions/LoginAttemptListResponse"
            }
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/users/{id}/macrodef" : {
      "post" : {
        "tags" : [ "User Macros" ],
        "summary" : "Import MacroDef file to Private Macros",
        "description" : "",
        "operationId" : "importUserMacroDef",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (macro name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MacroListResponse"
            }
          },
          "201" : {
            "description" : "created"
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/users/{id}/macros" : {
      "get" : {
        "tags" : [ "User Macros" ],
        "summary" : "List Private Macros for this User",
        "description" : "",
        "operationId" : "listUserMacros",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Page number (zero based)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortby",
          "in" : "query",
          "description" : "Sort by column name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "direction",
          "in" : "query",
          "description" : "Sort direction (asc or desc)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filter (macro name)",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/MacroListResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "post" : {
        "tags" : [ "User Macros" ],
        "summary" : "Create a Private Macro",
        "description" : "",
        "operationId" : "createUserMacro",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "MacroRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MacroRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "201" : {
            "description" : "created"
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          },
          "409" : {
            "description" : "conflict"
          }
        }
      }
    },
    "/users/{id}/macros/{name}" : {
      "get" : {
        "tags" : [ "User Macros" ],
        "summary" : "Retrieve a Private Macro",
        "description" : "",
        "operationId" : "getUserMacro",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the Macro to retrieve.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "put" : {
        "tags" : [ "User Macros" ],
        "summary" : "Update a Private Macro",
        "description" : "",
        "operationId" : "updateUserMacro",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the Macro to update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "MacroRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MacroRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/MacroResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "User Macros" ],
        "summary" : "Delete a Private Macro",
        "description" : "",
        "operationId" : "deleteUserMacro",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Name of the Macro to delete.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    },
    "/users/{id}/password" : {
      "post" : {
        "tags" : [ "User" ],
        "summary" : "Change your API Password",
        "description" : "",
        "operationId" : "changePassword",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success"
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/users/{id}/preferences" : {
      "post" : {
        "tags" : [ "User Preferences" ],
        "summary" : "Create User Preferences for {type}",
        "description" : "",
        "operationId" : "createUserPreferenceInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON for a User Preference set.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserPreferenceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPreferenceResponse"
            }
          },
          "201" : {
            "description" : "created"
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          }
        }
      }
    },
    "/users/{id}/preferences/{type}" : {
      "get" : {
        "tags" : [ "User Preferences" ],
        "summary" : "Retrieve User Preferences for {type}",
        "description" : "",
        "operationId" : "getUserPreferenceInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Name of the tpe to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object"
              }
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "put" : {
        "tags" : [ "User Preferences" ],
        "summary" : "Update User Preferences for {type}",
        "description" : "",
        "operationId" : "updateUserPreferenceInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Type of Preference set to Update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON for a User Preference set.",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserPreferenceResponse"
            }
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "User Preferences" ],
        "summary" : "Delete User Preferences for {type}",
        "description" : "",
        "operationId" : "deleteUserPreferenceInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Type of Preference set to Update.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPreferenceResponse"
            }
          },
          "204" : {
            "description" : "success"
          },
          "404" : {
            "description" : "not found"
          }
        }
      },
      "patch" : {
        "tags" : [ "User Preferences" ],
        "summary" : "Patch User Preferences for {type}",
        "description" : "",
        "operationId" : "patchUserPreferenceInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "User Id",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "Type of Preference set to Update.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "JSON for a User Preference set.",
          "required" : true,
          "schema" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "object"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "$ref" : "#/definitions/UserPreferenceResponse"
            }
          },
          "400" : {
            "description" : "bad request",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "unauthorized"
          },
          "404" : {
            "description" : "not found"
          }
        }
      }
    }
  },
  "definitions" : {
    "AccountReference" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string"
        },
        "customerId" : {
          "type" : "string"
        }
      }
    },
    "AccountResponse" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string"
        },
        "customerId" : {
          "type" : "string"
        }
      }
    },
    "ApiErrorResponse" : {
      "type" : "object",
      "properties" : {
        "message" : {
          "type" : "string"
        }
      }
    },
    "EntryPoints" : {
      "type" : "object",
      "properties" : {
        "packageName" : {
          "type" : "string"
        },
        "entryPoints" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "FileListResponse" : {
      "type" : "object",
      "properties" : {
        "totalRecords" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sortBy" : {
          "type" : "string"
        },
        "direction" : {
          "type" : "string"
        },
        "filter" : {
          "type" : "string"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/FileResponse"
          }
        }
      }
    },
    "FileMetaData" : {
      "type" : "object",
      "properties" : {
        "size" : {
          "type" : "integer",
          "format" : "int64"
        },
        "lastModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "entityType" : {
          "type" : "string",
          "enum" : [ "ACCOUNT", "GROUP", "USER", "PROVISIONING", "LICENSE", "JOBTEMPLATE", "JOBCONFIG", "JOB", "OUTPUT", "TEMP", "AGENT", "NONE" ]
        },
        "entityId" : {
          "type" : "string"
        },
        "linkType" : {
          "type" : "string",
          "enum" : [ "LINK", "INHERITED", "LOCAL" ]
        },
        "linkId" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "FileResponse" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string"
        },
        "metadata" : {
          "$ref" : "#/definitions/FileMetaData"
        },
        "linkId" : {
          "type" : "string"
        }
      }
    },
    "LoginAttemptListResponse" : {
      "type" : "object",
      "properties" : {
        "totalRecords" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sortBy" : {
          "type" : "string"
        },
        "direction" : {
          "type" : "string"
        },
        "filter" : {
          "type" : "string"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LoginAttemptResponse"
          }
        }
      }
    },
    "LoginAttemptResponse" : {
      "type" : "object",
      "properties" : {
        "timestamp" : {
          "type" : "integer",
          "format" : "int64"
        },
        "userId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "username" : {
          "type" : "string"
        },
        "remoteAddr" : {
          "type" : "string"
        },
        "success" : {
          "type" : "boolean"
        },
        "exception" : {
          "type" : "string"
        }
      }
    },
    "MacroListResponse" : {
      "type" : "object",
      "properties" : {
        "totalRecords" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sortBy" : {
          "type" : "string"
        },
        "direction" : {
          "type" : "string"
        },
        "filter" : {
          "type" : "string"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/MacroResponse"
          }
        }
      }
    },
    "MacroRequest" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "xml" : {
            "attribute" : true
          },
          "minLength" : 0,
          "maxLength" : 255,
          "pattern" : "^[^\\/\\\\]*$"
        },
        "value" : {
          "type" : "string",
          "xml" : {
            "attribute" : true
          },
          "minLength" : 0,
          "maxLength" : 2752
        },
        "secure" : {
          "type" : "boolean"
        },
        "description" : {
          "type" : "string",
          "xml" : {
            "attribute" : true
          },
          "minLength" : 0,
          "maxLength" : 2752
        }
      }
    },
    "MacroResponse" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        },
        "secure" : {
          "type" : "boolean"
        },
        "description" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "lastModified" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "Reference" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string"
        }
      }
    },
    "UserListResponse" : {
      "type" : "object",
      "properties" : {
        "totalRecords" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sortBy" : {
          "type" : "string"
        },
        "direction" : {
          "type" : "string"
        },
        "filter" : {
          "type" : "string"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UserResponse"
          }
        }
      }
    },
    "UserMetricsListResponse" : {
      "type" : "object",
      "properties" : {
        "totalRecords" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sortBy" : {
          "type" : "string"
        },
        "direction" : {
          "type" : "string"
        },
        "filter" : {
          "type" : "string"
        },
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UserMetricsResponse"
          }
        }
      }
    },
    "UserMetricsResponse" : {
      "type" : "object",
      "properties" : {
        "loginCount" : {
          "type" : "integer",
          "format" : "int64"
        },
        "loginFailures" : {
          "type" : "integer",
          "format" : "int64"
        },
        "executionCount" : {
          "type" : "integer",
          "format" : "int64"
        },
        "executionTime" : {
          "type" : "integer",
          "format" : "int64"
        },
        "jobTemplateCount" : {
          "type" : "integer",
          "format" : "int64"
        },
        "jobConfigCount" : {
          "type" : "integer",
          "format" : "int64"
        },
        "dateRange" : {
          "type" : "string"
        },
        "user" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "UserPreferenceRequest" : {
      "type" : "object",
      "required" : [ "type" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "userId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "type" : {
          "type" : "string"
        },
        "preferences" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        }
      }
    },
    "UserPreferenceResponse" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "userId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "type" : {
          "type" : "string"
        },
        "preferences" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "lastModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "createdByUser" : {
          "$ref" : "#/definitions/Reference"
        },
        "lastModifiedByUser" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "UserRequest" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "active" : {
          "type" : "boolean"
        },
        "admin" : {
          "type" : "boolean"
        },
        "accessPolicyId" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "street" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "postalCode" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        }
      }
    },
    "UserResponse" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "username" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "active" : {
          "type" : "boolean"
        },
        "admin" : {
          "type" : "boolean"
        },
        "accessPolicyId" : {
          "type" : "string"
        },
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "street" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "postalCode" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "superuser" : {
          "type" : "boolean"
        },
        "supportuser" : {
          "type" : "boolean"
        },
        "externalId" : {
          "type" : "string"
        },
        "account" : {
          "$ref" : "#/definitions/AccountReference"
        },
        "accessPolicy" : {
          "$ref" : "#/definitions/Reference"
        },
        "accessPolicies" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reference"
          }
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "createdByUser" : {
          "$ref" : "#/definitions/Reference"
        },
        "lastModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "lastModifiedByUser" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    }
  }
}