---
swagger: "2.0"
info:
  version: "3.1.1-SNAPSHOT"
  title: "Job Configuration Aliasing"
host: "integration.actiandatacloud.com"
schemes:
- "https"
paths:
  /jobconfig-aliases:
    get:
      summary: "Get a list of job config aliases"
      description: ""
      operationId: "getAliases"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Page number (zero based)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Page size"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort by column name"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort direction (asc or desc)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Filter (job template name)"
        required: false
        schema:
          type: "string"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasListResponse"
        401:
          description: "unauthorized"
    post:
      summary: "Create a job config alias"
      description: "created a new job config alias"
      operationId: "createAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/AliasRequest"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AliasResponse"
        201:
          description: "created"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/FieldErrorListResponse"
        401:
          description: "unauthorized"
  /jobconfig-aliases/{id}:
    get:
      summary: "Get job config alias"
      description: ""
      operationId: "getAlias"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasResponse"
        401:
          description: "unauthorized"
    put:
      summary: "Update job config alias"
      description: ""
      operationId: "updateAlias"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/AliasRequest"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasResponse"
        400:
          description: "bad request"
          schema:
            $ref: "#/definitions/FieldErrorListResponse"
        401:
          description: "unauthorized"
    delete:
      summary: "Delete job config alias"
      description: ""
      operationId: "deleteAlias"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "success"
        401:
          description: "unauthorized"
  /jobconfig-aliases/{name}/accesskey:
    get:
      summary: "Get api key for the given alias"
      description: ""
      operationId: "getAliasApiKey"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasAccessKeyResponse"
        401:
          description: "unauthorized"
    post:
      summary: "Generate an api key for the given alias"
      description: "generated an api key for the given alias"
      operationId: "createAliasApiKey"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      - name: "value"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AliasAccessKeyResponse"
        201:
          description: "created"
        401:
          description: "unauthorized"
    put:
      summary: "Update an api key for the given alias"
      description: "updated an api key for the given alias"
      operationId: "updateAliasApiKey"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      - name: "value"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasAccessKeyResponse"
        401:
          description: "unauthorized"
    delete:
      summary: "Revoke api key for the given alias"
      description: ""
      operationId: "revokeAliasApiKey"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "success"
        401:
          description: "unauthorized"
  /jobconfig-aliases/{name}/secretkey:
    get:
      summary: "Get api secret for the given alias"
      description: ""
      operationId: "getAliasApiSecret"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasSecretKeyResponse"
        401:
          description: "unauthorized"
    post:
      summary: "Generate an api secret key for the given alias"
      description: "generated an api secret key for the given alias"
      operationId: "createAliasApiSecret"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      - name: "value"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/AliasSecretKeyResponse"
        201:
          description: "created"
        401:
          description: "unauthorized"
    put:
      summary: "Update an api secret key for the given alias"
      description: "updated an api secret key for the given alias"
      operationId: "updateAliasApiSecret"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      - name: "value"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/AliasSecretKeyResponse"
        401:
          description: "unauthorized"
    delete:
      summary: "Revoke api key for the given alias"
      description: ""
      operationId: "revokeAliasApiSecret"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
      responses:
        204:
          description: "success"
        401:
          description: "unauthorized"
definitions:
  AliasAccessKeyResponse:
    type: "object"
    properties:
      aliasName:
        type: "string"
      key:
        type: "string"
  AliasListResponse:
    type: "object"
    properties:
      totalRecords:
        type: "integer"
        format: "int64"
      totalPages:
        type: "integer"
        format: "int32"
      size:
        type: "integer"
        format: "int32"
      pageNumber:
        type: "integer"
        format: "int32"
      sortBy:
        type: "string"
      direction:
        type: "string"
      filter:
        type: "string"
      items:
        type: "array"
        items:
          $ref: "#/definitions/AliasResponse"
  AliasRequest:
    type: "object"
    properties:
      name:
        type: "string"
        minLength: 0
        maxLength: 255
        pattern: "^[\\w-_]*$"
      jobConfigId:
        type: "string"
        pattern: "^[0-9]*$"
      secure:
        type: "boolean"
      allowlist:
        type: "boolean"
  AliasResponse:
    type: "object"
    properties:
      created:
        type: "string"
        format: "date-time"
      lastModified:
        type: "string"
        format: "date-time"
      name:
        type: "string"
      jobConfigId:
        type: "string"
      href:
        type: "string"
      secure:
        type: "boolean"
      allowlist:
        type: "boolean"
      createdByUser:
        $ref: "#/definitions/Reference"
      lastModifiedByUser:
        $ref: "#/definitions/Reference"
      jobConfig:
        $ref: "#/definitions/Reference"
      account:
        $ref: "#/definitions/Reference"
  AliasSecretKeyResponse:
    type: "object"
    properties:
      aliasName:
        type: "string"
      secretKey:
        type: "string"
  FieldErrorListResponse:
    type: "object"
    properties:
      message:
        type: "string"
      errors:
        type: "array"
        items:
          $ref: "#/definitions/FieldErrorResponse"
  FieldErrorResponse:
    type: "object"
    properties:
      field:
        type: "string"
      errorMessages:
        type: "array"
        uniqueItems: true
        items:
          type: "string"
  Reference:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      href:
        type: "string"
