---
swagger: "2.0"
info:
  description: "Manage resource specifications."
  version: "3.1.1-SNAPSHOT"
  title: "Resource Manager"
host: "integration.actiandatacloud.com"
schemes:
- "https"
paths:
  /resources/{type}:
    get:
      summary: "Retrieve a list of resources of the given type."
      description: ""
      operationId: "getResources"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Page number (zero based)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Page size"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort by column name"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort direction (asc or desc)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Filter (resource ID)"
        required: false
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/ResourceListResponse"
        401:
          description: "unauthorized"
    post:
      summary: "Create a resource of the given type."
      description: ""
      operationId: "createResource"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "ResourceRequest"
        required: true
        schema:
          $ref: "#/definitions/ResourceRequest"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "created"
          schema:
            $ref: "#/definitions/ResourceResponse"
        201:
          description: "created"
          schema:
            $ref: "#/definitions/ResourceResponse"
        401:
          description: "unauthorized"
  /resources/{type}/authorize:
    get:
      summary: "Check access control entries related to a resource type action, i.e.\
        \ create resource."
      description: ""
      operationId: "whyIsAuthorized"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "action"
        required: true
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "userid"
        required: true
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Page number (zero based)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Page size"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort by column name"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort direction (asc or desc)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Filter (access policy name)"
        required: false
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/AclResponseList"
        204:
          description: "no content"
        401:
          description: "unauthorized"
    head:
      summary: "Check access to a resource type action, i.e. create resource."
      description: ""
      operationId: "isAuthorized"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - name: "action"
        in: "query"
        description: "action"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/ResponseEntityObject"
        401:
          description: "unauthorized"
  /resources/{type}/{id}:
    get:
      summary: "Retrieve a resource of the given type."
      description: ""
      operationId: "getResource"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "Resource id"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/ResourceResponse"
        401:
          description: "unauthorized"
        404:
          description: "not found"
    put:
      summary: "Update an existing resource."
      description: ""
      operationId: "updateResource"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "Resource id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "ResourceRequest"
        required: true
        schema:
          $ref: "#/definitions/ResourceRequest"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/ResourceResponse"
        401:
          description: "unauthorized"
        404:
          description: "not found"
    delete:
      summary: "Delete a resource of the given type."
      description: ""
      operationId: "deleteResource"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "Resource id"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "deleted"
          schema:
            $ref: "#/definitions/ResponseEntityObject"
        204:
          description: "deleted"
        401:
          description: "unauthorized"
        404:
          description: "not found"
  /resources/{type}/{id}/authorize:
    get:
      summary: "Check access control entries related to a resource id action, i.e.\
        \ read resource, edit resource, delete resource."
      description: ""
      operationId: "whyIsAuthorized"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "Resource id"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "action"
        required: true
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "userid"
        required: true
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Page number (zero based)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Page size"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort by column name"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Sort direction (asc or desc)"
        required: false
        schema:
          type: "string"
      - in: "body"
        name: "body"
        description: "Filter (access policy name)"
        required: false
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/AclResponseList"
        204:
          description: "no content"
        401:
          description: "unauthorized"
    head:
      summary: "Check access to a resource id action, i.e. read resource, edit resource,\
        \ delete resource."
      description: ""
      operationId: "isAuthorized"
      parameters:
      - name: "type"
        in: "path"
        description: "Resource type"
        required: true
        type: "string"
      - name: "id"
        in: "path"
        description: "Resource id"
        required: true
        type: "string"
      - name: "action"
        in: "query"
        description: "action"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Bearer [access_token]"
        required: true
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/ResponseEntityObject"
        401:
          description: "unauthorized"
definitions:
  AccountReference:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      href:
        type: "string"
      customerId:
        type: "string"
  Acl:
    type: "object"
    properties:
      resourceId:
        type: "string"
      resourceType:
        type: "string"
      permissionSet:
        type: "string"
      accessPolicyId:
        type: "string"
      why:
        type: "string"
  AclResponseList:
    type: "object"
    properties:
      totalRecords:
        type: "integer"
        format: "int64"
      totalPages:
        type: "integer"
        format: "int32"
      size:
        type: "integer"
        format: "int32"
      pageNumber:
        type: "integer"
        format: "int32"
      sortBy:
        type: "string"
      direction:
        type: "string"
      filter:
        type: "string"
      items:
        type: "array"
        items:
          $ref: "#/definitions/Acl"
  Reference:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      href:
        type: "string"
  ResourceListResponse:
    type: "object"
    properties:
      totalRecords:
        type: "integer"
        format: "int64"
      totalPages:
        type: "integer"
        format: "int32"
      size:
        type: "integer"
        format: "int32"
      pageNumber:
        type: "integer"
        format: "int32"
      sortBy:
        type: "string"
      direction:
        type: "string"
      filter:
        type: "string"
      items:
        type: "array"
        items:
          $ref: "#/definitions/ResourceResponse"
  ResourceRequest:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      description:
        type: "string"
  ResourceResponse:
    type: "object"
    properties:
      id:
        type: "string"
      type:
        type: "string"
      name:
        type: "string"
      href:
        type: "string"
      description:
        type: "string"
      account:
        $ref: "#/definitions/AccountReference"
      user:
        $ref: "#/definitions/Reference"
      created:
        type: "string"
        format: "date-time"
      createdByUser:
        $ref: "#/definitions/Reference"
      lastModified:
        type: "string"
        format: "date-time"
      lastModifiedByUser:
        $ref: "#/definitions/Reference"
  ResponseEntity:
    type: "object"
    properties:
      headers:
        type: "object"
        additionalProperties:
          type: "array"
          items:
            type: "string"
      body:
        type: "object"
      statusCode:
        type: "string"
        enum:
        - "CONTINUE"
        - "SWITCHING_PROTOCOLS"
        - "PROCESSING"
        - "CHECKPOINT"
        - "OK"
        - "CREATED"
        - "ACCEPTED"
        - "NON_AUTHORITATIVE_INFORMATION"
        - "NO_CONTENT"
        - "RESET_CONTENT"
        - "PARTIAL_CONTENT"
        - "MULTI_STATUS"
        - "ALREADY_REPORTED"
        - "IM_USED"
        - "MULTIPLE_CHOICES"
        - "MOVED_PERMANENTLY"
        - "FOUND"
        - "MOVED_TEMPORARILY"
        - "SEE_OTHER"
        - "NOT_MODIFIED"
        - "USE_PROXY"
        - "TEMPORARY_REDIRECT"
        - "PERMANENT_REDIRECT"
        - "BAD_REQUEST"
        - "UNAUTHORIZED"
        - "PAYMENT_REQUIRED"
        - "FORBIDDEN"
        - "NOT_FOUND"
        - "METHOD_NOT_ALLOWED"
        - "NOT_ACCEPTABLE"
        - "PROXY_AUTHENTICATION_REQUIRED"
        - "REQUEST_TIMEOUT"
        - "CONFLICT"
        - "GONE"
        - "LENGTH_REQUIRED"
        - "PRECONDITION_FAILED"
        - "PAYLOAD_TOO_LARGE"
        - "REQUEST_ENTITY_TOO_LARGE"
        - "URI_TOO_LONG"
        - "REQUEST_URI_TOO_LONG"
        - "UNSUPPORTED_MEDIA_TYPE"
        - "REQUESTED_RANGE_NOT_SATISFIABLE"
        - "EXPECTATION_FAILED"
        - "I_AM_A_TEAPOT"
        - "INSUFFICIENT_SPACE_ON_RESOURCE"
        - "METHOD_FAILURE"
        - "DESTINATION_LOCKED"
        - "UNPROCESSABLE_ENTITY"
        - "LOCKED"
        - "FAILED_DEPENDENCY"
        - "UPGRADE_REQUIRED"
        - "PRECONDITION_REQUIRED"
        - "TOO_MANY_REQUESTS"
        - "REQUEST_HEADER_FIELDS_TOO_LARGE"
        - "UNAVAILABLE_FOR_LEGAL_REASONS"
        - "INTERNAL_SERVER_ERROR"
        - "NOT_IMPLEMENTED"
        - "BAD_GATEWAY"
        - "SERVICE_UNAVAILABLE"
        - "GATEWAY_TIMEOUT"
        - "HTTP_VERSION_NOT_SUPPORTED"
        - "VARIANT_ALSO_NEGOTIATES"
        - "INSUFFICIENT_STORAGE"
        - "LOOP_DETECTED"
        - "BANDWIDTH_LIMIT_EXCEEDED"
        - "NOT_EXTENDED"
        - "NETWORK_AUTHENTICATION_REQUIRED"
      statusCodeValue:
        type: "integer"
        format: "int32"
  ResponseEntityAclResponseList:
    type: "object"
    properties:
      headers:
        type: "object"
        additionalProperties:
          type: "array"
          items:
            type: "string"
      body:
        $ref: "#/definitions/AclResponseList"
      statusCode:
        type: "string"
        enum:
        - "CONTINUE"
        - "SWITCHING_PROTOCOLS"
        - "PROCESSING"
        - "CHECKPOINT"
        - "OK"
        - "CREATED"
        - "ACCEPTED"
        - "NON_AUTHORITATIVE_INFORMATION"
        - "NO_CONTENT"
        - "RESET_CONTENT"
        - "PARTIAL_CONTENT"
        - "MULTI_STATUS"
        - "ALREADY_REPORTED"
        - "IM_USED"
        - "MULTIPLE_CHOICES"
        - "MOVED_PERMANENTLY"
        - "FOUND"
        - "MOVED_TEMPORARILY"
        - "SEE_OTHER"
        - "NOT_MODIFIED"
        - "USE_PROXY"
        - "TEMPORARY_REDIRECT"
        - "PERMANENT_REDIRECT"
        - "BAD_REQUEST"
        - "UNAUTHORIZED"
        - "PAYMENT_REQUIRED"
        - "FORBIDDEN"
        - "NOT_FOUND"
        - "METHOD_NOT_ALLOWED"
        - "NOT_ACCEPTABLE"
        - "PROXY_AUTHENTICATION_REQUIRED"
        - "REQUEST_TIMEOUT"
        - "CONFLICT"
        - "GONE"
        - "LENGTH_REQUIRED"
        - "PRECONDITION_FAILED"
        - "PAYLOAD_TOO_LARGE"
        - "REQUEST_ENTITY_TOO_LARGE"
        - "URI_TOO_LONG"
        - "REQUEST_URI_TOO_LONG"
        - "UNSUPPORTED_MEDIA_TYPE"
        - "REQUESTED_RANGE_NOT_SATISFIABLE"
        - "EXPECTATION_FAILED"
        - "I_AM_A_TEAPOT"
        - "INSUFFICIENT_SPACE_ON_RESOURCE"
        - "METHOD_FAILURE"
        - "DESTINATION_LOCKED"
        - "UNPROCESSABLE_ENTITY"
        - "LOCKED"
        - "FAILED_DEPENDENCY"
        - "UPGRADE_REQUIRED"
        - "PRECONDITION_REQUIRED"
        - "TOO_MANY_REQUESTS"
        - "REQUEST_HEADER_FIELDS_TOO_LARGE"
        - "UNAVAILABLE_FOR_LEGAL_REASONS"
        - "INTERNAL_SERVER_ERROR"
        - "NOT_IMPLEMENTED"
        - "BAD_GATEWAY"
        - "SERVICE_UNAVAILABLE"
        - "GATEWAY_TIMEOUT"
        - "HTTP_VERSION_NOT_SUPPORTED"
        - "VARIANT_ALSO_NEGOTIATES"
        - "INSUFFICIENT_STORAGE"
        - "LOOP_DETECTED"
        - "BANDWIDTH_LIMIT_EXCEEDED"
        - "NOT_EXTENDED"
        - "NETWORK_AUTHENTICATION_REQUIRED"
      statusCodeValue:
        type: "integer"
        format: "int32"
  ResponseEntityObject:
    type: "object"
    properties:
      headers:
        type: "object"
        additionalProperties:
          type: "array"
          items:
            type: "string"
      body:
        type: "object"
      statusCode:
        type: "string"
        enum:
        - "CONTINUE"
        - "SWITCHING_PROTOCOLS"
        - "PROCESSING"
        - "CHECKPOINT"
        - "OK"
        - "CREATED"
        - "ACCEPTED"
        - "NON_AUTHORITATIVE_INFORMATION"
        - "NO_CONTENT"
        - "RESET_CONTENT"
        - "PARTIAL_CONTENT"
        - "MULTI_STATUS"
        - "ALREADY_REPORTED"
        - "IM_USED"
        - "MULTIPLE_CHOICES"
        - "MOVED_PERMANENTLY"
        - "FOUND"
        - "MOVED_TEMPORARILY"
        - "SEE_OTHER"
        - "NOT_MODIFIED"
        - "USE_PROXY"
        - "TEMPORARY_REDIRECT"
        - "PERMANENT_REDIRECT"
        - "BAD_REQUEST"
        - "UNAUTHORIZED"
        - "PAYMENT_REQUIRED"
        - "FORBIDDEN"
        - "NOT_FOUND"
        - "METHOD_NOT_ALLOWED"
        - "NOT_ACCEPTABLE"
        - "PROXY_AUTHENTICATION_REQUIRED"
        - "REQUEST_TIMEOUT"
        - "CONFLICT"
        - "GONE"
        - "LENGTH_REQUIRED"
        - "PRECONDITION_FAILED"
        - "PAYLOAD_TOO_LARGE"
        - "REQUEST_ENTITY_TOO_LARGE"
        - "URI_TOO_LONG"
        - "REQUEST_URI_TOO_LONG"
        - "UNSUPPORTED_MEDIA_TYPE"
        - "REQUESTED_RANGE_NOT_SATISFIABLE"
        - "EXPECTATION_FAILED"
        - "I_AM_A_TEAPOT"
        - "INSUFFICIENT_SPACE_ON_RESOURCE"
        - "METHOD_FAILURE"
        - "DESTINATION_LOCKED"
        - "UNPROCESSABLE_ENTITY"
        - "LOCKED"
        - "FAILED_DEPENDENCY"
        - "UPGRADE_REQUIRED"
        - "PRECONDITION_REQUIRED"
        - "TOO_MANY_REQUESTS"
        - "REQUEST_HEADER_FIELDS_TOO_LARGE"
        - "UNAVAILABLE_FOR_LEGAL_REASONS"
        - "INTERNAL_SERVER_ERROR"
        - "NOT_IMPLEMENTED"
        - "BAD_GATEWAY"
        - "SERVICE_UNAVAILABLE"
        - "GATEWAY_TIMEOUT"
        - "HTTP_VERSION_NOT_SUPPORTED"
        - "VARIANT_ALSO_NEGOTIATES"
        - "INSUFFICIENT_STORAGE"
        - "LOOP_DETECTED"
        - "BANDWIDTH_LIMIT_EXCEEDED"
        - "NOT_EXTENDED"
        - "NETWORK_AUTHENTICATION_REQUIRED"
      statusCodeValue:
        type: "integer"
        format: "int32"
  ResponseEntityResourceListResponse:
    type: "object"
    properties:
      headers:
        type: "object"
        additionalProperties:
          type: "array"
          items:
            type: "string"
      body:
        $ref: "#/definitions/ResourceListResponse"
      statusCode:
        type: "string"
        enum:
        - "CONTINUE"
        - "SWITCHING_PROTOCOLS"
        - "PROCESSING"
        - "CHECKPOINT"
        - "OK"
        - "CREATED"
        - "ACCEPTED"
        - "NON_AUTHORITATIVE_INFORMATION"
        - "NO_CONTENT"
        - "RESET_CONTENT"
        - "PARTIAL_CONTENT"
        - "MULTI_STATUS"
        - "ALREADY_REPORTED"
        - "IM_USED"
        - "MULTIPLE_CHOICES"
        - "MOVED_PERMANENTLY"
        - "FOUND"
        - "MOVED_TEMPORARILY"
        - "SEE_OTHER"
        - "NOT_MODIFIED"
        - "USE_PROXY"
        - "TEMPORARY_REDIRECT"
        - "PERMANENT_REDIRECT"
        - "BAD_REQUEST"
        - "UNAUTHORIZED"
        - "PAYMENT_REQUIRED"
        - "FORBIDDEN"
        - "NOT_FOUND"
        - "METHOD_NOT_ALLOWED"
        - "NOT_ACCEPTABLE"
        - "PROXY_AUTHENTICATION_REQUIRED"
        - "REQUEST_TIMEOUT"
        - "CONFLICT"
        - "GONE"
        - "LENGTH_REQUIRED"
        - "PRECONDITION_FAILED"
        - "PAYLOAD_TOO_LARGE"
        - "REQUEST_ENTITY_TOO_LARGE"
        - "URI_TOO_LONG"
        - "REQUEST_URI_TOO_LONG"
        - "UNSUPPORTED_MEDIA_TYPE"
        - "REQUESTED_RANGE_NOT_SATISFIABLE"
        - "EXPECTATION_FAILED"
        - "I_AM_A_TEAPOT"
        - "INSUFFICIENT_SPACE_ON_RESOURCE"
        - "METHOD_FAILURE"
        - "DESTINATION_LOCKED"
        - "UNPROCESSABLE_ENTITY"
        - "LOCKED"
        - "FAILED_DEPENDENCY"
        - "UPGRADE_REQUIRED"
        - "PRECONDITION_REQUIRED"
        - "TOO_MANY_REQUESTS"
        - "REQUEST_HEADER_FIELDS_TOO_LARGE"
        - "UNAVAILABLE_FOR_LEGAL_REASONS"
        - "INTERNAL_SERVER_ERROR"
        - "NOT_IMPLEMENTED"
        - "BAD_GATEWAY"
        - "SERVICE_UNAVAILABLE"
        - "GATEWAY_TIMEOUT"
        - "HTTP_VERSION_NOT_SUPPORTED"
        - "VARIANT_ALSO_NEGOTIATES"
        - "INSUFFICIENT_STORAGE"
        - "LOOP_DETECTED"
        - "BANDWIDTH_LIMIT_EXCEEDED"
        - "NOT_EXTENDED"
        - "NETWORK_AUTHENTICATION_REQUIRED"
      statusCodeValue:
        type: "integer"
        format: "int32"
  ResponseEntityResourceResponse:
    type: "object"
    properties:
      headers:
        type: "object"
        additionalProperties:
          type: "array"
          items:
            type: "string"
      body:
        $ref: "#/definitions/ResourceResponse"
      statusCode:
        type: "string"
        enum:
        - "CONTINUE"
        - "SWITCHING_PROTOCOLS"
        - "PROCESSING"
        - "CHECKPOINT"
        - "OK"
        - "CREATED"
        - "ACCEPTED"
        - "NON_AUTHORITATIVE_INFORMATION"
        - "NO_CONTENT"
        - "RESET_CONTENT"
        - "PARTIAL_CONTENT"
        - "MULTI_STATUS"
        - "ALREADY_REPORTED"
        - "IM_USED"
        - "MULTIPLE_CHOICES"
        - "MOVED_PERMANENTLY"
        - "FOUND"
        - "MOVED_TEMPORARILY"
        - "SEE_OTHER"
        - "NOT_MODIFIED"
        - "USE_PROXY"
        - "TEMPORARY_REDIRECT"
        - "PERMANENT_REDIRECT"
        - "BAD_REQUEST"
        - "UNAUTHORIZED"
        - "PAYMENT_REQUIRED"
        - "FORBIDDEN"
        - "NOT_FOUND"
        - "METHOD_NOT_ALLOWED"
        - "NOT_ACCEPTABLE"
        - "PROXY_AUTHENTICATION_REQUIRED"
        - "REQUEST_TIMEOUT"
        - "CONFLICT"
        - "GONE"
        - "LENGTH_REQUIRED"
        - "PRECONDITION_FAILED"
        - "PAYLOAD_TOO_LARGE"
        - "REQUEST_ENTITY_TOO_LARGE"
        - "URI_TOO_LONG"
        - "REQUEST_URI_TOO_LONG"
        - "UNSUPPORTED_MEDIA_TYPE"
        - "REQUESTED_RANGE_NOT_SATISFIABLE"
        - "EXPECTATION_FAILED"
        - "I_AM_A_TEAPOT"
        - "INSUFFICIENT_SPACE_ON_RESOURCE"
        - "METHOD_FAILURE"
        - "DESTINATION_LOCKED"
        - "UNPROCESSABLE_ENTITY"
        - "LOCKED"
        - "FAILED_DEPENDENCY"
        - "UPGRADE_REQUIRED"
        - "PRECONDITION_REQUIRED"
        - "TOO_MANY_REQUESTS"
        - "REQUEST_HEADER_FIELDS_TOO_LARGE"
        - "UNAVAILABLE_FOR_LEGAL_REASONS"
        - "INTERNAL_SERVER_ERROR"
        - "NOT_IMPLEMENTED"
        - "BAD_GATEWAY"
        - "SERVICE_UNAVAILABLE"
        - "GATEWAY_TIMEOUT"
        - "HTTP_VERSION_NOT_SUPPORTED"
        - "VARIANT_ALSO_NEGOTIATES"
        - "INSUFFICIENT_STORAGE"
        - "LOOP_DETECTED"
        - "BANDWIDTH_LIMIT_EXCEEDED"
        - "NOT_EXTENDED"
        - "NETWORK_AUTHENTICATION_REQUIRED"
      statusCodeValue:
        type: "integer"
        format: "int32"
